<% if $operatingsystemrelease == "10.04" then %>
Package: firefox
Pin: version=10.0.2+build1-0ubuntu0.10.04.1
Pin-Priority: 1
<% elsif $operatingsystemrelease == "10.10" %>
Package: firefox
Pin: version=10.0.2+build1-0ubuntu0.10.10.1
Pin-Priority: 1
<% end %>
